/* CSS crunched with Crunch - http://crunchapp.net/ */
/* 

Table of Contents:

1. MEGA MENU RESPONSIVE CSS
2. APPLICATION RESPONSIVE CSS

*/
/* 1. MEGA MENU RESPONSIVE CSS


*/
/* Mega Menu Width */
@media (min-width: 768px) {
  .width-sm-1 {
    width: 60px;
  }
  .width-sm-2 {
    width: 180px;
  }
  .width-sm-3 {
    width: 240px;
  }
  .width-sm-4 {
    width: 320px;
  }
  .width-sm-5 {
    width: 480px;
  }
  .width-sm-6 {
    width: 720px;
  }
  .width-sm-full {
    width: 1130px;
  }
  .height-sm-auto .list-wrapper > li {
    height: auto;
  }
  .height-sm-1 .list-wrapper > li {
    height: 60px;
  }
  .height-sm-2 .list-wrapper > li {
    height: 120px;
  }
  .height-sm-3 .list-wrapper > li {
    height: 180px;
  }
  .height-sm-4 .list-wrapper > li {
    height: 240px;
  }
  .height-sm-5 .list-wrapper > li {
    height: 320px;
  }
  .height-sm-6 .list-wrapper > li {
    height: 480px;
  }
  .column-sm-1 ul li {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .column-sm-1 ul li:first-child,
  .column-sm-1 ul li:nth-child(2n+1),
  .column-sm-1 ul li:nth-child(3n+1),
  .column-sm-1 ul li:nth-child(4n+1),
  .column-sm-1 ul li:nth-child(5n+1),
  .column-sm-1 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-sm-2 ul li {
    width: 47%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-sm-2 ul li:first-child,
  .column-sm-2 ul li:nth-child(2n+1),
  .column-sm-2 ul li:nth-child(3n+1),
  .column-sm-2 ul li:nth-child(4n+1),
  .column-sm-2 ul li:nth-child(5n+1),
  .column-sm-2 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-sm-2 ul li:first-child,
  .column-sm-2 ul li:nth-child(2n+1) {
    margin-left: 2% !important;
  }
  .column-sm-3 ul li {
    width: 30%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-sm-3 ul li:first-child,
  .column-sm-3 ul li:nth-child(2n+1),
  .column-sm-3 ul li:nth-child(3n+1),
  .column-sm-3 ul li:nth-child(4n+1),
  .column-sm-3 ul li:nth-child(5n+1),
  .column-sm-3 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-sm-3 ul li:first-child,
  .column-sm-3 ul li:nth-child(3n+1) {
    margin-left: 2% !important;
  }
  .column-sm-4 ul li {
    width: 23%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-sm-4 ul li:first-child,
  .column-sm-4 ul li:nth-child(2n+1),
  .column-sm-4 ul li:nth-child(3n+1),
  .column-sm-4 ul li:nth-child(4n+1),
  .column-sm-4 ul li:nth-child(5n+1),
  .column-sm-4 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-sm-4 ul li:first-child,
  .column-sm-4 ul li:nth-child(4n+1) {
    margin-left: 2% !important;
  }
  .column-sm-4 .menu-text .menu-info .menu-action .menu-action-icon {
    font-size: 10px;
    height: 16px;
    width: 16px;
    line-height: 12px;
  }
  .column-sm-5 ul li {
    width: 18%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-sm-5 ul li:first-child,
  .column-sm-5 ul li:nth-child(2n+1),
  .column-sm-5 ul li:nth-child(3n+1),
  .column-sm-5 ul li:nth-child(4n+1),
  .column-sm-5 ul li:nth-child(5n+1),
  .column-sm-5 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-sm-5 ul li:first-child,
  .column-sm-5 ul li:nth-child(5n+1) {
    margin-left: 1% !important;
  }
  .column-sm-5 .menu-text .menu-info .menu-action .menu-action-icon {
    font-size: 10px;
    height: 16px;
    width: 16px;
    line-height: 12px;
  }
  .column-sm-6 ul li {
    width: 15%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-sm-6 ul li:first-child,
  .column-sm-6 ul li:nth-child(2n+1),
  .column-sm-6 ul li:nth-child(3n+1),
  .column-sm-6 ul li:nth-child(4n+1),
  .column-sm-6 ul li:nth-child(5n+1),
  .column-sm-6 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-sm-6 ul li:first-child,
  .column-sm-6 ul li:nth-child(6n+1) {
    margin-left: 2% !important;
  }
  .column-sm-6 .menu-text .menu-info .menu-action .menu-action-icon {
    font-size: 10px;
    height: 16px;
    width: 16px;
    line-height: 12px;
  }
  .left-sm {
    right: 0;
    left: auto;
  }
  .left-sm:before {
    left: auto;
    right: 20px;
  }
  .right-sm {
    left: 0;
    right: auto;
  }
  .right-sm:before {
    right: auto;
    left: 20px;
  }
  .center-sm-1 {
    left: -10px;
    right: auto;
  }
  .center-sm-1:before {
    left: 30px;
    right: auto;
  }
  .center-sm-2 {
    left: -70px;
    right: auto;
  }
  .center-sm-2:before {
    left: 90px;
    right: auto;
  }
  .center-sm-3 {
    left: -100px;
    right: auto;
  }
  .center-sm-3:before {
    left: 120px;
    right: auto;
  }
  .center-sm-4 {
    left: -140px;
    right: auto;
  }
  .center-sm-4:before {
    left: 160px;
    right: auto;
  }
  .center-sm-5 {
    left: -220px;
    right: auto;
  }
  .center-sm-5:before {
    left: 240px;
    right: auto;
  }
  .center-sm-6 {
    left: -340px;
    right: auto;
  }
  .center-sm-6:before {
    left: 360px;
    right: auto;
  }
  .center-sm-5 {
    left: -220px;
    right: auto;
  }
  .center-sm-5:before {
    left: 240px;
    right: auto;
  }
  .center-sm-6 {
    left: -340px;
    right: auto;
  }
  .center-sm-6:before {
    left: 360px;
    right: auto;
  }
  .center-sm-full {
    left: -545px;
    right: auto;
  }
  .center-sm-full:before {
    left: 565px;
    right: auto;
  }
  .mgbt-sm-0 {
    margin-bottom: 0 !important;
  }
  .mgbt-sm-5 {
    margin-bottom: 5px !important;
  }
  .mgbt-sm-10 {
    margin-bottom: 10px !important;
  }
  .mgbt-sm-15 {
    margin-bottom: 15px !important;
  }
  .mgbt-sm-20 {
    margin-bottom: 20px !important;
  }
}
@media (min-width: 992px) {
  .width-md-1 {
    width: 60px;
  }
  .width-md-2 {
    width: 180px;
  }
  .width-md-3 {
    width: 240px;
  }
  .width-md-4 {
    width: 320px;
  }
  .width-md-5 {
    width: 480px;
  }
  .width-md-6 {
    width: 720px;
  }
  .width-md-full {
    width: 1130px;
  }
  .height-md-auto .list-wrapper > li {
    height: auto;
  }
  .height-md-1 .list-wrapper > li {
    height: 60px;
  }
  .height-md-2 .list-wrapper > li {
    height: 120px;
  }
  .height-md-3 .list-wrapper > li {
    height: 180px;
  }
  .height-md-4 .list-wrapper > li {
    height: 240px;
  }
  .height-md-5 .list-wrapper > li {
    height: 320px;
  }
  .height-md-6 .list-wrapper > li {
    height: 480px;
  }
  .column-md-1 ul li {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .column-md-1 ul li:first-child,
  .column-md-1 ul li:nth-child(2n+1),
  .column-md-1 ul li:nth-child(3n+1),
  .column-md-1 ul li:nth-child(4n+1),
  .column-md-1 ul li:nth-child(5n+1),
  .column-md-1 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-md-2 ul li {
    width: 47%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-md-2 ul li:first-child,
  .column-md-2 ul li:nth-child(2n+1),
  .column-md-2 ul li:nth-child(3n+1),
  .column-md-2 ul li:nth-child(4n+1),
  .column-md-2 ul li:nth-child(5n+1),
  .column-md-2 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-md-2 ul li:first-child,
  .column-md-2 ul li:nth-child(2n+1) {
    margin-left: 2% !important;
  }
  .column-md-3 ul li {
    width: 30%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-md-3 ul li:first-child,
  .column-md-3 ul li:nth-child(2n+1),
  .column-md-3 ul li:nth-child(3n+1),
  .column-md-3 ul li:nth-child(4n+1),
  .column-md-3 ul li:nth-child(5n+1),
  .column-md-3 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-md-3 ul li:first-child,
  .column-md-3 ul li:nth-child(3n+1) {
    margin-left: 2% !important;
  }
  .column-md-4 ul li {
    width: 23%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-md-4 ul li:first-child,
  .column-md-4 ul li:nth-child(2n+1),
  .column-md-4 ul li:nth-child(3n+1),
  .column-md-4 ul li:nth-child(4n+1),
  .column-md-4 ul li:nth-child(5n+1),
  .column-md-4 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-md-4 ul li:first-child,
  .column-md-4 ul li:nth-child(4n+1) {
    margin-left: 2% !important;
  }
  .column-md-4 .menu-text .menu-info .menu-action .menu-action-icon {
    font-size: 10px;
    height: 16px;
    width: 16px;
    line-height: 12px;
  }
  .column-md-5 ul li {
    width: 18%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-md-5 ul li:first-child,
  .column-md-5 ul li:nth-child(2n+1),
  .column-md-5 ul li:nth-child(3n+1),
  .column-md-5 ul li:nth-child(4n+1),
  .column-md-5 ul li:nth-child(5n+1),
  .column-md-5 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-md-5 ul li:first-child,
  .column-md-5 ul li:nth-child(5n+1) {
    margin-left: 1% !important;
  }
  .column-md-5 .menu-text .menu-info .menu-action .menu-action-icon {
    font-size: 10px;
    height: 16px;
    width: 16px;
    line-height: 12px;
  }
  .column-md-6 ul li {
    width: 15%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-md-6 ul li:first-child,
  .column-md-6 ul li:nth-child(2n+1),
  .column-md-6 ul li:nth-child(3n+1),
  .column-md-6 ul li:nth-child(4n+1),
  .column-md-6 ul li:nth-child(5n+1),
  .column-md-6 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-md-6 ul li:first-child,
  .column-md-6 ul li:nth-child(6n+1) {
    margin-left: 2% !important;
  }
  .column-md-6 .menu-text .menu-info .menu-action .menu-action-icon {
    font-size: 10px;
    height: 16px;
    width: 16px;
    line-height: 12px;
  }
  .left-md {
    right: 0;
    left: auto;
  }
  .left-md:before {
    left: auto;
    right: 20px;
  }
  .right-md {
    left: 0;
    right: auto;
  }
  .right-md:before {
    right: auto;
    left: 20px;
  }
  .center-md-1 {
    left: -10px;
    right: auto;
  }
  .center-md-1:before {
    left: 30px;
    right: auto;
  }
  .center-md-2 {
    left: -70px;
    right: auto;
  }
  .center-md-2:before {
    left: 90px;
    right: auto;
  }
  .center-md-3 {
    left: -100px;
    right: auto;
  }
  .center-md-3:before {
    left: 120px;
    right: auto;
  }
  .center-md-4 {
    left: -140px;
    right: auto;
  }
  .center-md-4:before {
    left: 160px;
    right: auto;
  }
  .center-md-5 {
    left: -220px;
    right: auto;
  }
  .center-md-5:before {
    left: 240px;
    right: auto;
  }
  .center-md-6 {
    left: -340px;
    right: auto;
  }
  .center-md-6:before {
    left: 360px;
    right: auto;
  }
  .center-md-full {
    left: -545px;
    right: auto;
  }
  .center-md-full:before {
    left: 565px;
    right: auto;
  }
  .mgbt-md-0 {
    margin-bottom: 0 !important;
  }
  .mgbt-md-5 {
    margin-bottom: 5px !important;
  }
  .mgbt-md-10 {
    margin-bottom: 10px !important;
  }
  .mgbt-md-15 {
    margin-bottom: 15px !important;
  }
  .mgbt-md-20 {
    margin-bottom: 20px !important;
  }
}
@media (min-width: 1200px) {
  .width-lg-1 {
    width: 60px;
  }
  .width-lg-2 {
    width: 180px;
  }
  .width-lg-3 {
    width: 240px;
  }
  .width-lg-4 {
    width: 320px;
  }
  .width-lg-5 {
    width: 480px;
  }
  .width-lg-6 {
    width: 720px;
  }
  .width-lg-full {
    width: 1130px;
  }
  .height-lg-auto .list-wrapper > li {
    height: auto;
  }
  .height-lg-1 .list-wrapper > li {
    height: 60px;
  }
  .height-lg-2 .list-wrapper > li {
    height: 120px;
  }
  .height-lg-3 .list-wrapper > li {
    height: 180px;
  }
  .height-lg-4 .list-wrapper > li {
    height: 240px;
  }
  .height-lg-5 .list-wrapper > li {
    height: 320px;
  }
  .height-lg-6 .list-wrapper > li {
    height: 480px;
  }
  .column-lg-1 ul li {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .column-lg-1 ul li:first-child,
  .column-lg-1 ul li:nth-child(2n+1),
  .column-lg-1 ul li:nth-child(3n+1),
  .column-lg-1 ul li:nth-child(4n+1),
  .column-lg-1 ul li:nth-child(5n+1),
  .column-lg-1 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-lg-2 ul li {
    width: 47%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-lg-2 ul li:first-child,
  .column-lg-2 ul li:nth-child(2n+1),
  .column-lg-2 ul li:nth-child(3n+1),
  .column-lg-2 ul li:nth-child(4n+1),
  .column-lg-2 ul li:nth-child(5n+1),
  .column-lg-2 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-lg-2 ul li:first-child,
  .column-lg-2 ul li:nth-child(2n+1) {
    margin-left: 2% !important;
  }
  .column-lg-3 ul li {
    width: 30%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-lg-3 ul li:first-child,
  .column-lg-3 ul li:nth-child(2n+1),
  .column-lg-3 ul li:nth-child(3n+1),
  .column-lg-3 ul li:nth-child(4n+1),
  .column-lg-3 ul li:nth-child(5n+1),
  .column-lg-3 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-lg-3 ul li:first-child,
  .column-lg-3 ul li:nth-child(3n+1) {
    margin-left: 2% !important;
  }
  .column-lg-4 ul li {
    width: 23%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-lg-4 ul li:first-child,
  .column-lg-4 ul li:nth-child(2n+1),
  .column-lg-4 ul li:nth-child(3n+1),
  .column-lg-4 ul li:nth-child(4n+1),
  .column-lg-4 ul li:nth-child(5n+1),
  .column-lg-4 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-lg-4 ul li:first-child,
  .column-lg-4 ul li:nth-child(4n+1) {
    margin-left: 2% !important;
  }
  .column-lg-4 .menu-text .menu-info .menu-action .menu-action-icon {
    font-size: 10px;
    height: 16px;
    width: 16px;
    line-height: 12px;
  }
  .column-lg-5 ul li {
    width: 18%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-lg-5 ul li:first-child,
  .column-lg-5 ul li:nth-child(2n+1),
  .column-lg-5 ul li:nth-child(3n+1),
  .column-lg-5 ul li:nth-child(4n+1),
  .column-lg-5 ul li:nth-child(5n+1),
  .column-lg-5 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-lg-5 ul li:first-child,
  .column-lg-5 ul li:nth-child(5n+1) {
    margin-left: 1% !important;
  }
  .column-lg-5 .menu-text .menu-info .menu-action .menu-action-icon {
    font-size: 10px;
    height: 16px;
    width: 16px;
    line-height: 12px;
  }
  .column-lg-6 ul li {
    width: 15%;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .column-lg-6 ul li:first-child,
  .column-lg-6 ul li:nth-child(2n+1),
  .column-lg-6 ul li:nth-child(3n+1),
  .column-lg-6 ul li:nth-child(4n+1),
  .column-lg-6 ul li:nth-child(5n+1),
  .column-lg-6 ul li:nth-child(6n+1) {
    margin-left: 0 !important;
  }
  .column-lg-6 ul li:first-child,
  .column-lg-6 ul li:nth-child(6n+1) {
    margin-left: 2% !important;
  }
  .column-lg-6 .menu-text .menu-info .menu-action .menu-action-icon {
    font-size: 10px;
    height: 16px;
    width: 16px;
    line-height: 12px;
  }
  .left-lg {
    right: 0;
    left: auto;
  }
  .left-lg:before {
    left: auto;
    right: 20px;
  }
  .right-lg {
    left: 0;
    right: auto;
  }
  .right-lg:before {
    right: auto;
    left: 20px;
  }
  .center-lg-1 {
    left: -10px;
    right: auto;
  }
  .center-lg-1:before {
    left: 30px;
    right: auto;
  }
  .center-lg-2 {
    left: -70px;
    right: auto;
  }
  .center-lg-2:before {
    left: 90px;
    right: auto;
  }
  .center-lg-3 {
    left: -100px;
    right: auto;
  }
  .center-lg-3:before {
    left: 120px;
    right: auto;
  }
  .center-lg-4 {
    left: -140px;
    right: auto;
  }
  .center-lg-4:before {
    left: 160px;
    right: auto;
  }
  .center-lg-5 {
    left: -220px;
    right: auto;
  }
  .center-lg-5:before {
    left: 240px;
    right: auto;
  }
  .center-lg-6 {
    left: -340px;
    right: auto;
  }
  .center-lg-6:before {
    left: 360px;
    right: auto;
  }
  .center-lg-full {
    left: -545px;
    right: auto;
  }
  .center-lg-full:before {
    left: 565px;
    right: auto;
  }
  .mgbt-lg-0 {
    margin-bottom: 0 !important;
  }
  .mgbt-lg-5 {
    margin-bottom: 5px !important;
  }
  .mgbt-lg-10 {
    margin-bottom: 10px !important;
  }
  .mgbt-lg-15 {
    margin-bottom: 15px !important;
  }
  .mgbt-lg-20 {
    margin-bottom: 20px !important;
  }
}
@media (max-width: 767px) {
  .vd_mega-menu-content .child-menu .content-grid .menu-text .menu-info .menu-action .menu-action-icon {
    font-size: 10px;
    height: 16px;
    width: 16px;
    line-height: 12px;
  }
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu {
    float: none;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu > .mega-ul > .mega-li {
    float: none;
    padding: 7px 15px;
    height: auto;
    margin: 0;
    border-radius: 0;
  }
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu > .mega-ul > .mega-li > a {
    display: block;
  }
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu .vd_mega-menu-content {
    width: 100% !important;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu .vd_mega-menu-content .vd_mega-menu-content {
    margin-bottom: 0;
  }
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu .vd_mega-menu-content:before {
    display: none;
  }
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu .open-right .list-wrapper > li,
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu .open-left .list-wrapper > li {
    padding: 0 0 0 15px !important;
  }
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu .vd_mega-menu-content.open-right,
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu .vd_mega-menu-content.open-left {
    border-top: none;
    box-shadow: none;
    margin-top: 0;
  }
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu .vd_mega-menu-content.open-right > div > div > ul > li > a,
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu .vd_mega-menu-content.open-left > div > div > ul > li > a {
    border-left: 3px solid #1fae66;
    padding: 3px 0px 3px 10px;
  }
  .light-top-menu .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu {
    background: rgba(0, 0, 0, 0.8);
  }
  .light-top-menu .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu > .mega-ul > .mega-li > a {
    color: #ffffff;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu > .mega-ul > .mega-li {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* 2. APPLICATION RESPONSIVE CSS */
@media (max-width: 991px) {
  header .vd_top-menu-wrapper {
    position: relative;
  }
  header .vd_top-nav {
    width: 100%;
    display: block;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
  header .vd_top-nav .vd_panel-header .logo {
    float: none;
    text-align: center;
  }
  header .vd_container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  header .vd_container .vd_menu-search {
    margin-left: 0;
  }
  header .container {
    padding-left: 0;
    padding-right: 0;
  }
  header .vd_top-nav {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-left-hide .content .vd_content-wrapper .vd_container {
    margin-left: 0;
  }
  .nav-right-hide .content .vd_content-wrapper .vd_container {
    margin-right: 0;
  }
  .vd_mega-menu-wrapper.horizontal-menu .vd_mega-menu > ul > li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .vd_visitor-counter .item {
    width: 60px;
    height: 76px;
    line-height: 76px;
    font-size: 56px;
  }
  .vd_visitor-counter .item .line {
    width: 60px;
  }
  #front-1-banner .vd_content {
    height: auto;
  }
  #front-1-banner .icon-banner {
    position: relative;
    top: auto;
    left: auto;
    text-align: center;
  }
  #front-1-banner .icon-1 {
    margin-top: 40px;
  }
  #front-1-banner .icon-2 {
    margin-top: 30px;
  }
  #front-1-banner .icon-3 {
    margin-top: 30px;
  }
  #front-1-banner .icon-4 {
    margin-top: 50px;
    margin-bottom: 75px;
  }
}
@media (max-width: 767px) {
  header {
    height: auto;
  }
  header .vd_top-nav {
    height: 63px;
  }
  header .vd_container {
    display: none;
    height: auto;
  }
  header .vd_container .vd_menu-search {
    margin-left: auto;
    margin-right: auto;
  }
  header .vd_container .col-xs-12 {
    margin-bottom: 10px;
  }
  .submenu header .vd_container {
    display: block;
  }
  body .affix,
  body .affix-top,
  body .affix-bottom {
    position: static !important;
  }
  .nav-left-hide .content .vd_container {
    float: right;
    min-width: 717px;
  }
  .nav-right-hide .content .vd_container {
    float: left;
    min-width: 717px;
  }
  .nav-left-hide.nav-right-hide .content .container .vd_container {
    float: none;
    min-width: inherit;
  }
  .fc .fc-header-title h2 {
    font-size: 26px;
  }
  .login-layout .vd_register-page,
  .login-layout .vd_login-page {
    width: 100%;
  }
  .vd_visitor-counter .item {
    width: 46px;
    height: 60px;
    line-height: 60px;
    font-size: 46px;
    margin-bottom: 10px;
  }
  .vd_visitor-counter .item .line {
    width: 46px;
  }
  .vd_interactive-widget .item-left,
  .vd_interactive-widget .item-right {
    border-top: none;
  }
  .vd_interactive-widget .item-left {
    margin-right: 0;
    border-right: none;
  }
  .vd_interactive-widget .item-right {
    margin-left: 0;
  }
  .content-blog-small .list-wrapper > li .menu-icon,
  .content-blog-large .list-wrapper > li .menu-icon {
    float: none;
    display: block;
    margin: 0 auto 10px;
    width: 100%;
  }
  .content-blog-small .list-wrapper > li .menu-text,
  .content-blog-large .list-wrapper > li .menu-text {
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 480px) {
  /* Specific CSS */
  .vd_status-widget .menu-value {
    font-size: 24px;
    margin-left: 15px;
  }
  .vd_status-widget .menu-icon {
    font-size: 36px;
  }
  .fc .fc-header-title h2 {
    font-size: 20px;
  }
  #fullcalendar .fc-header-left .fc-button-prev,
  #fullcalendar .fc-header-left .fc-button-next {
    line-height: 18px;
    height: 22px;
    width: 22px;
    position: absolute;
    top: -9px;
  }
  #fullcalendar .fc-header-left .fc-button-prev {
    left: 20px;
  }
  #fullcalendar .fc-header-left .fc-button-next {
    left: 68px;
  }
  #fullcalendar .fc-header-left .fc-button .fc-icon {
    font-size: 1.8em;
  }
  #fullcalendar .fc-header .fc-header-right .fc-button-today {
    top: 47px;
  }
  .vd_visitor-counter .item {
    width: 30px;
    height: 46px;
    line-height: 46px;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .vd_visitor-counter .item .line {
    width: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header {
    height: 126px;
  }
  header .vd_top-nav {
    height: 63px;
  }
  header .vd_top-nav .vd_panel-header .logo {
    margin-top: 0;
  }
  header .vd_top-nav .vd_panel-menu {
    top: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* Specific CSS */
  .vd_status-widget .menu-value {
    font-size: 24px;
    margin-left: 15px;
  }
  .vd_status-widget .menu-icon {
    font-size: 36px;
  }
  #front-1-banner .icon-banner {
    position: absolute;
  }
  #front-1-banner .icon-1 {
    top: 222px;
    left: 208px;
  }
  #front-1-banner .icon-2 {
    top: 170px;
    left: 344px;
  }
  #front-1-banner .icon-3 {
    top: 203px;
    left: 648px;
  }
  #front-1-banner .icon-4 {
    top: 230px;
    left: 412px;
  }
  #front-1-banner .word-1 {
    top: 215px;
    left: 85px;
  }
  #front-1-banner .word-2 {
    top: 152px;
    left: 438px;
  }
  #front-1-banner .word-3 {
    top: 178px;
    left: 746px;
  }
}
/*Body Boxed Special Requirement*/
@media (min-width: 1200px) and (max-width: 1260px) {
  body.boxed-layout .vd_body {
    width: 100%;
    border: none;
    float: left;
    border-radius: 0;
  }
  body.boxed-layout .vd_bottom .vd_footer-line,
  body.boxed-layout .vd_bottom .bg {
    margin-left: -10px;
    margin-right: -10px;
  }
}
@media (min-width: 992px) and (max-width: 1016px) {
  body.boxed-layout .vd_body {
    width: 100%;
    border: none;
    float: left;
    border-radius: 0;
  }
  body.boxed-layout .vd_bottom .vc_footer-line,
  body.boxed-layout .vd_bottom .bg {
    margin-left: -10px;
    margin-right: -10px;
  }
}
@media (max-width: 767px) {
  body.boxed-layout .vd_body {
    width: 100%;
    float: left;
    margin: 0;
    border: none;
  }
  body.boxed-layout header {
    margin-top: 0px;
  }
  body.boxed-layout header .vd_top-menu-wrapper .container {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  body.boxed-layout footer {
    margin-bottom: 0px;
  }
  body.boxed-layout footer .vd_bottom .container {
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
